[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
esphome = "2025.7.3"

[dev-packages]
pylint = "3.3.7"
flake8 = "3.9.2"
black = "25.1.0"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
